:root {
    --main-color: #004aad;
    --extra-dark: #002657;
    --lt-main: #A9AABC;
    --lt-alt: #BFA5A5;
    --alt-color: #A20231;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}



/******************************************
/* BASE STYLES
/*******************************************/


img {
    max-height: 60vh;
    margin: 2rem;
    border-radius: 3rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.what-is h2 {
    margin-left: 5rem;
}

h3>a {
    color: var(--main-color);
}

h3 {
    font-size: 2.5rem;
}

p, a {
    font-size: 2rem;
}

p {
    line-height: 3.5rem;
}


li {
    display: inline-block;
    margin: auto 1rem;
}



a { 
    color: var(--alt-color);
    font-size: 2rem;
}

a:hover {
    box-shadow: 0 0 3rem var(--lt-main);
    border-radius: 50%;
    background-color: rgb(169, 170, 188, 0.37);
}


button, #mc_embed_signup #mc-embedded-subscribe {
    height: auto;
    margin-top: 1rem;
    padding: 1rem 2rem;
    align-self: center;
    background-color: var(--alt-color);
    font-size: 2.2rem;
    color: white;
    border: none;
    border-radius: 0.5rem;
    transition: none;
}

a.buy-tickets {
    box-shadow: none;
    background-color: transparent;

}

button:hover {
    box-shadow: var(--lt-alt) 0 1rem 3rem, inset 0 0 1rem var(--lt-alt);
}

#mc_embed_signup #mc-embedded-subscribe {
    font-size: 1.8rem;
    padding: 0.8rem 1.5rem;
    background-color: #cdcee2;
    color: var(--extra-dark);
}


#mc_embed_signup #mc-embedded-subscribe:hover {
    box-shadow: var(--lt-main) 0 0.5rem 2rem, inset 0 0 1rem var(--lt-alt);

}

span {
    font-size: 2rem;
}

section, header, footer {
    padding: 3rem 5rem; 
}

body>section:nth-of-type(2n) {
    background-color: var(--main-color);
    color: white;
}

body>section:nth-of-type(2n) a, nav a, footer a {
    color: white;
}


.time, .location {
    font-size: 1.6rem;
}

.mailing-email {
    font-size: 2rem;
    color: var(--alt-color);
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
    background-color: var(--main-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
}

nav, nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav img {
    height: 6.5rem;
    margin: 0;
    margin-top: 1rem;
    padding-left: 2rem;
}

nav ul {
    /* height: 6.5rem; */
}

nav a, footer a {
    text-decoration: none;
}

nav li {
    padding: 3rem 5rem;
    margin: 0;
    box-shadow: 0.8rem 0 0.8rem -0.9rem var(--extra-dark);
    background-clip: border-box;
}

nav>a:hover {
    box-shadow: none;
    background-color: inherit;
    border-radius: none;
}


form {
    display: flex;
}


article {
    padding: 5rem 10%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra-dark);
    align-items: center;
}

footer a {
    font-size: 1.5rem;
}

footer span a {
    font-size: 1.2rem;
}



/******************************************
/*  PAGE SPECIFIC
/*******************************************/

/* --------- landing page -------- */


.details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.plain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.plain div {
    margin: auto 5rem;
}

.plain p {
    text-align: justify;
    width: 40%;
}


.what-is img {
    width: 50%;
    margin-left: 0;
}

.what-is p {
    width: 100%;
}
/* ------ games ------------- */

.past {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: baseline;
    padding: 0;
}

.past section {
    width: 30%;
    margin: 3rem 5rem;
    border-radius: 3rem;
    box-shadow: rgb(0, 38, 87, 0.7) 0px 50px 100px -20px, rgb(0, 38, 87, 0.8) 0px 30px 60px -30px;
}

.past img {
    max-width: 100%;
    height: 100%;
    margin: 0;
    object-fit: contain;
}

.past span {
    display: block;
    font-size: 1.7rem;
    margin: 1.7rem 0;
}

.games-splash ~ section h2 {
    text-align: center;
}

.upcoming {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 5rem 0;
}

.upcoming>*{
    width: 25%;
}

.actions {
    text-align: right;
}

.actions button {
    margin: 0;
}

.upcoming img {
    width: 40%;
    height: 100%;
    margin: 0;
}

.upcoming span {
    display: block;
    margin: 2rem 0;
}


/*  -------------partners ---------- */

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.partners a {
    display: block;
    width: 40%;
    text-align:justify;
    border-radius: 3rem;
    text-decoration: none;
    color: var(--main-color);
    box-shadow: rgba(169, 170, 188, 0.7) 0px 50px 100px -20px, rgba(169, 170, 188, 0.8) 0px 30px 60px -30px;
}

.partner-splash ~ section h2, .partners h3 {
    text-align: center;
}


.partners.three a {
    width: 28%;
    padding: 0;
    box-shadow: rgb(0, 38, 87, 0.7) 0px 50px 100px -20px, rgb(0, 38, 87, 0.8) 0px 30px 60px -30px;
}

.partners img {
    display: block;
    margin: auto;
    text-align: center;
    border-radius: 0;
}


.rectangle {
    width: 100%;
}

.square {
    width: 50%;
}

/* -----------FAQ -------------- */

.faq {
    display: flex;
    justify-content: space-between;
    margin: 5rem 10%;
}

.faq.right {
    flex-direction: row-reverse;
}

.faq img {
    width: 50%;
    height: auto;
    margin: 0;
    object-fit: cover;
}

.faq>div {
    width: 40%;
    text-align: justify;
}

.faq h2 {
    margin: 0;
}

.faq p {
    margin-top: 4rem;
}

/* ----------- Contact ------------ */

.contact-methods{
    display: flex;
    justify-content: space-between;
    padding: 3rem 5rem;
}

.contact-methods>section {
    width: 60%;
}


form {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form span {
    color: var(--alt-color);
}

label, input, textarea {
    font-size: 2rem;
}

label, text {
    margin: 2rem 0 0.5rem 0;
}


label {
    width: 40%;
}

input {
    width: 100%;
}

textarea {
    height: 20vh;
    width: 100%;
}

.who {
    display: flex;
    justify-content: space-between;
}


.socials li {
    display: block;
    margin: 1rem 0;
}

.socials ul {
    padding-left: 0;
}

.socials a {
    text-decoration: none;
}

#mc_embed_signup #mc-embedded-subscribe-form {
    padding: 0;
    
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.no-upcoming {
    /* display: none; */
}


/******************************************
/* PAGE SPLASHES
/*******************************************/

.splash {
    margin-top: 8rem;
    background-size: cover;
    background-position: bottom;
    height: 70vh;
    background-attachment: fixed;
}

.splash h1, .splash h2 {
    color: white;
    font-size: 10rem;
    font-family: 'Carter One', cursive;
    font-weight: 100;
    line-height: 14rem;
    padding: 5rem;
}

.home {
    background-image: linear-gradient(270deg, rgba(0,0,0,0) 40%, rgba(0,74,173,1) 95%, rgba(0,74,173,1) 100%), 
        url("/img/splash/spaceships-ed.JPG");
    background-position: center;
}

.home h1 {
    max-width: 30%;
    padding: 0 0 0 10%;
}

.big-title {
    font-size: 14rem;
}

.offset-title {
    font-size: 10rem;
    padding-left: 2rem;
}

.about, .faq-splash, .partner-splash, .contact-splash, .contact-splash, .games-splash {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.games-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/games/zombies.jpg");
    background-size: contain;
    background-position: top;
}

.about {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/group-shot-ed.jpg");
    background-size: cover;
}


.faq-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/faq.jpg");
}

.partner-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/point-at-map.jpg");
    background-size: cover;
    background-position: bottom;
}

.contact-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/contact.jpg");
    background-position: center;
} 

.about h1, .faq-splash h1, .partner-splash h1, .contact-splash h1, .games-splash h2 {
    max-width: 100%;
    margin-top: 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}

.games-splash h1 {
    font-size: 3.5rem;
    font-family: Arial, Helvetica, sans-serif;
    line-height: normal;
    margin: 0;
    padding: 0;
    text-decoration: underline;
}

.games-splash h2 {
    padding: 0;
    line-height: normal;
}

.games-splash {
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
}