:root {
    --main-color: #004aad;
    --extra-dark: #002657;
    --lt-main: #A9AABC;
    --lt-alt: #BFA5A5;
    --alt-color: #A20231;
    font-size: 62.5%;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--main-color);
}

body, html {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

/* Box Model Hack */
* {
     -moz-box-sizing: border-box;
}



/******************************************
/* BASE STYLES
/*******************************************/


img {
    max-height: 60vh;
    margin: 2rem;
    border-radius: 3rem;
}

h1 {
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

.what-is h2 {
    margin-left: 5rem;
}

h3>a {
    color: var(--main-color);
}

h3 {
    font-size: 2.5rem;
}

p, a {
    font-size: 2rem;
}

p {
    line-height: 3.5rem;
}


li {
    display: inline;
    margin: auto 1rem;
}

a { 
    color: var(--alt-color);
    font-size: 2rem;
}

span {
    font-size: 2rem;
}

section, header, footer {
    padding: 3rem 5rem; 
}

body>section:nth-of-type(2n) {
    background-color: var(--main-color);
    color: white;
}

body>section:nth-of-type(2n) a, nav a, footer a {
    color: white;
}

button, .button {
    background-color: var(--alt-color);
    border: none;
    margin: 2rem;
    border-radius: 1rem;
}

button a, .button {
    color: white;
    text-decoration: none;
    padding: 2rem;
    display: block;
    font-size: 2.2rem;
}

.time, .location {
    font-size: 1.6rem;
}

.mailing-email {
    font-size: 2rem;
    color: var(--alt-color);
}

/******************************************
/* LAYOUT
/*******************************************/

nav {
    background-color: var(--main-color);
    padding: 1rem;
    position: fixed;
    width: 100%;
}

nav img {
    height: 6.5rem;
    margin: 0;
    margin-top: 1rem;
    padding-left: 2rem;
}


nav a, footer a {
    text-decoration: none;
}

nav a:hover, footer a:hover {
    text-decoration: dotted;
    /* this isn't working, what's up w that TODO */
}

nav, nav ul {
    display: flex;
    justify-content: space-between;
}

nav li {
    margin: auto 5rem;
}

form {
    display: flex;
}

article {
    padding: 5rem 10%;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: var(--extra-dark);
    align-items: center;
}

footer a {
    font-size: 1.5rem;
}

footer span a {
    font-size: 1.2rem;
}



/******************************************
/*  PAGE SPECIFIC
/*******************************************/

/* --------- landing page -------- */

.games {
    margin: 5rem 3rem 10rem 5rem;
}

.games {
    margin-top: 3rem;
}

.games > section {
    display: flex;
    align-items: center;
    padding: 0;
}

.games span {
    display: block;
    margin: 1rem auto;
}

.details {
    display: flex;
    justify-content: space-between;
    width: 80%;
}


.plain {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}


.plain div {
    margin: auto 5rem;
}

.plain p {
    text-align: justify;
    width: 40%;
}


.games img {
    width: 60%;
    margin-left: 7rem;
}

.what-is img {
    width: 50%;
    margin-left: 0;
}

.what-is p {
    width: 100%;
}
/* ------ games ------------- */

.past {
    display: flex;
}

/*  -------------partners ---------- */

.partners {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
    justify-content: space-evenly;
    padding-bottom: 5rem;
}

.partners a {
    display: block;
    width: 40%;
    text-align:justify;
    border-radius: 3rem;
    text-decoration: none;
    color: var(--main-color);
}

.partner-splash ~ section h2, .partners h3 {
    text-align: center;
}

.partners a:hover {
    box-shadow: rgba(169, 170, 188, 0.7) 0px 50px 100px -20px, rgba(169, 170, 188, 0.8) 0px 30px 60px -30px;

}

.partners.three a {
    width: 28%;
    padding: 0;
}

.partners.three a:hover {
    box-shadow: rgb(0, 38, 87, 0.7) 0px 50px 100px -20px, rgb(0, 38, 87, 0.8) 0px 30px 60px -30px;
}

.partners img {
    display: block;
    margin: auto;
    text-align: center;
}


.rectangle {
    width: 100%;
}

.square {
    width: 50%;
}

/* -----------FAQ -------------- */

.faq {
    display: flex;
    justify-content: space-between;
    margin: 5rem 10%;
}

.faq.right {
    flex-direction: row-reverse;
}

.faq img {
    width: 50%;
    height: auto;
    margin: 0;
    object-fit: cover;
}

.faq>div {
    width: 40%;
    text-align: justify;
}

.faq h2 {
    margin: 0;
}

.faq p {
    margin-top: 4rem;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/

.no-upcoming {
    /* display: none; */
}


/******************************************
/* PAGE SPLASHES
/*******************************************/

.splash {
    margin-top: 8rem;
    background-size: cover;
    background-position: bottom;
    height: 70vh;
    background-attachment: fixed;
}

.splash h1 {
    color: white;
    font-size: 10rem;
    font-family: 'Carter One', cursive;
    font-weight: 100;
    line-height: 14rem;
    padding: 5rem;
}

.home {
    background-image: linear-gradient(270deg, rgba(0,0,0,0) 40%, rgba(0,74,173,1) 95%, rgba(0,74,173,1) 100%), 
        url("/img/splash/spaceships-ed.JPG");
    background-position: center;
}

.home h1 {
    max-width: 30%;
    padding: 0 0 0 10%;
}

.big-title {
    font-size: 14rem;
}

.offset-title {
    font-size: 10rem;
    padding-left: 2rem;
}

.about, .faq-splash, .partner-splash, .contact-splash {
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.about {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/group-shot-ed.jpg");
    background-size: cover;
}


.faq-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/faq.jpg");
}

.partner-splash {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/point-at-map.jpg");
    background-size: cover;
    background-position: bottom;
}

.contact {
    background-image: linear-gradient(0deg, rgba(0,74,173,1) 0%, rgba(0,74,173,1) 20%, rgba(0,0,0,0) 50%), 
    url("/img/splash/contact.jpg");
    background-position: center;
}

.about h1, .faq-splash h1, .partner-splash h1, .contact h1 {
    max-width: 100%;
    margin-top: 0;
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 0;
}